header{
    text-align: center;
   font-family: bangers;
}

.titulo{
 text-align: center;
 font-weight: bold;
 font-size: 40px;
}

.subtitulo{
    text-align: center;
}

.logo{
    width: 150px;
    
}

.footer{
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;}

    .footer-social img{
        padding: 10px;
    }

    .nav-link{
        color: #fff;
    }

    .navbar-collapse {
      justify-content: center;
    }

    .navbar{
        background: linear-gradient(to right, #5a5a5a, #0d0d0d);
        box-shadow: 0 0 5px black;


    }
    .collapse ul li {
        margin: 0 20px  ;
        font-size: 20px;
    }

    .collapse a:hover{
        text-shadow: 0px 4px 4px  #d56728;
        color: #fff;
        border-bottom: #d56728 1px solid;
        
    }
    
/* 
    .dropdown a:active{
        text-shadow: 0px 4px 4px  #d56728;
        color: #fff;
       
    
    } */

    .dropdown-menu a:hover{
        text-shadow: 0px 4px 4px  #d56728;
        color: #000;
        background: none;
    }