.h1:hover{
    color:red;
    
}
.h1{
    text-align: center;
    color: blue;
}

.p:hover{
    color: aquamarine;
    
}

.p{
    text-transform: uppercase;
    text-shadow: 2px 2px;
    text-align: end;
    font-weight: bold;
}


